## {{- $workspacePath := promptStringOnce . "workspacePath" "Type in the path to your workspace directory, e.g.: 'C:/Workspace' (use quotes) " -}}

{{- $userEmail := "" -}}
{{- if and (hasKey . "user") (hasKey .user "email") -}}
{{-   $userEmail = .user.email -}}
{{- else -}}
{{-   $userEmail = promptString "email" -}}
{{- end -}}

## [data.workspace]
##   path = {{ $workspacePath }}

[data.user]
  email = "{{ $userEmail }}"
  name = "Ervin Rácz"

[git]
  autoPush = true
[cd]
  command = "pwsh"
  args = ["-NoLogo"]
[interpreters.ps1]
  command = "pwsh"
  args = ["-NoLogo"]
[diff]
  command = "delta"
  pager = "delta"
