{{- $workspacePath := promptStringOnce . "workspacePath" "Type in the path to your workspace directory, e.g.: \"C:\\\\Workspace\" (use quotes). " -}}
[data]
  workspacePath = {{ $workspacePath }}
[git]
  autoPush = true
[cd]
  command = "pwsh"
  args = ["-NoProfile", "-NoLogo"]
[interpreters.ps1]
  command = "pwsh"
  args = ["-NoLogo", "-NoProfile"]
[diff]
  command = "delta"
  pager = "delta"