{{- $userEmail := "" -}}
{{- if and (hasKey . "user") (hasKey .user "email") -}}
{{-   $userEmail = .user.email -}}
{{- else -}}
{{-   $userEmail = promptString "email" -}}
{{- end -}}

[data.user]
  email = "{{ $userEmail }}"
  name = "Ervin Rácz"

[git]
  autoPush = true


{{ if eq .chezmoi.os "windows" }}
[cd]
  command = "pwsh"
  args = ["-NoLogo"]
[interpreters.ps1]
  command = "pwsh"
  args = ["-NoLogo"]
{{ end }}
[diff]
  command = "delta"
  pager = "delta"
