winget configure $env:USERPROFILE\.local\share\chezmoi\winget\packages.dsc.yaml
winget configure $env:USERPROFILE\.local\share\chezmoi\winget\windows.dsc.yaml
winget configure $env:USERPROFILE\.local\share\chezmoi\winget\wsl.dsc.yaml