git config --global user.email "{{ .user.email }}"
git config --global user.name "{{ .user.name }}"
git config --global pull.ff only
git config --global core.filemode false
git config --global core.autocrlf true
